/* Ability Box  */


.abilities-box-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: solid 1px black;border-radius: 10px;
}


.abilities-box-container .image-container{
    position: relative;
    aspect-ratio: 1/1;
    width: 100px;
    background-color: none;
    border-radius: 10px;
}

.abilities-box-container .image-container img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.abilities-box-container .image-container .shard-icon{
    width: 100%;
    height: 50%;
}

.abilities-box-container .image-container:hover img{
    transform: scale(0.95);
}

/* Ability Box Tooltip */

/* ability tootltip */
.ability-tooltip-container{
    z-index: 2;
    position : absolute;
    width : 400px;
    bottom: 130%;
    left : 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, var(--bg-deeper),var(--surface-deep));
    border: solid 1px var(--border);
}

.ability-tooltip-container .ability-tooltip-header-container{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 60px;
    border: solid 4px var(--border);
    flex-wrap: nowrap;
    object-fit: fill;
}

.ability-tooltip-container .ability-tooltip-header-container .ability-tooltip-icon-container{
    display: flex;
    backdrop-filter: blur(500px);
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    z-index: 4;
}
.ability-tooltip-container .ability-tooltip-header-container img{
    aspect-ratio: 1/1;
    width: 50px;

}

.ability-tooltip-container .ability-tooltip-header-container .ability-tooltip-title{
    white-space: nowrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin: 0 auto;
    padding : 10px;
    width: 100%;
    color : white;
}

.ability-tooltip-container .ability-tooltip-description-container{
    border: solid 4px var(--border);
    padding: 10px;
}

.ability-tooltip-container .ability-tooltip-description-container .ability-tooltip-description{
    color : var(--text-primary)
}