/* Ability Box  */

/* hero abilities */
.abilities-box-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: solid 1px black;border-radius: 10px;
}


.abilities-box-container .image-container{
    position: relative;
    aspect-ratio: 1/1;
    width: 100px;
    background-color: none;
    border-radius: 10px;
}

.abilities-box-container .image-container img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.abilities-box-container .image-container .shard-icon{
    width: 100%;
    height: 50%;
}

.abilities-box-container .image-container img:hover{
    transform: scale(0.95);
}

.wrapper{
    position: relative;
}

