/* Facet Icon and Title*/

.facets-container{
    position: relative;
    display : grid;
    flex-direction: row;
    flex-wrap:  wrap;
    gap : 3em;
    border: solid black 1px; border-radius: 5px;
    padding: 5px;
    justify-content: space-between;
    align-items: stretch;
    grid-template-columns: repeat(3, minmax(350px, auto));


}

.facet-container{
    position: relative;
    background-image: url("https://cdn.steamstatic.com/apps/dota2/images/dota_react/icons/facets/ripple_texture.png");
    background-size: cover;
    border-radius: 15px;
    box-shadow: 2px 2px 2px var(--bg);
    filter: hue-rotate(-12deg);
    height: 60px;
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    object-fit: fill;
    z-index: 1;
}

.facet-container:hover{
    transform: scale(0.97);
}
.facet-container::before{
    content :"";
    border-radius: 15px;
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.3);
    z-index: 0;

}
.facet-container .facet-icon-container{
    display: flex;
    backdrop-filter: blur(500px);
    aspect-ratio: 1/1;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 1px var(--bg),
                inset 2px 2px 1px var(--text-primary);


}

.facet-container .facet-icon-container:active{
    transform: scale(0.9);

}

.facet-container .facet-icon-container .facet-icon{
    aspect-ratio: 1/1;
    width :40px;
    border-radius: 15px;
    object-fit: cover;
}

.facet-container .facet-title{
    display: flex;
    position: relative;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
    padding : 10px;
    width: 100%;
    color : white;
}

.facet-container .facet-title::after{
    position: absolute;
    content: "";

}

/*Facet Tooltip*/
.facet-tooltip-container{
    position : absolute;
    bottom: 130%;
    left : 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, var(--bg-deeper),var(--surface-deep));
    border: solid 1px var(--border);
}

.facet-tooltip-container .facet-tooltip-header-container{
    display: flex;
    flex-direction: row;
    position: relative;
    background-image: url("https://cdn.steamstatic.com/apps/dota2/images/dota_react/icons/facets/ripple_texture.png");
    background-size: cover;
    height: 60px;;
    flex-wrap: nowrap;
    object-fit: fill;
}

.facet-tooltip-container .facet-tooltip-header-container .facet-tooltip-icon-container{
    display: flex;
    backdrop-filter: blur(500px);
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;

}

.facet-tooltip-container .facet-tooltip-header-container .facet-tooltip-icon-container img{
    aspect-ratio: 1/1;
    width: 40px;
    object-fit: cover;
}

.facet-tooltip-container .facet-tooltip-header-container .facet-tooltip-title{
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
    padding : 10px;
    width: 100%;
    color : white;
}

.facet-tooltip-container .facet-tooltip-description{
    padding: 10px;
    color : var(--text-primary);
    font-size: 1.2rem;
}