.hero-profile-image-container{
    width: 100%;
    aspect-ratio: 3/4;
    border: solid 1px black;
    border-radius: 15px;
}

.hero-profile-image-container img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    display: block;
    border-radius: 15px;
}
