.hero-profile-image-container{
    width: 100%;
    border-radius: 15px;
}

.hero-profile-image-container video{
    height: 100%;
    width: 100%;
    object-fit: fill;
    display: block;
    border-radius: 15px;
}
