.main-contents-container{
    display: grid;
    width: 100vw;
    height:100%;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: unset;
    min-height: 0;
    min-width: 0;
    scrollbar-width: none;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "box-1 box-2 box-2 box-2 box-2"
                         "box-5 box-5 box-5 box-5 box-5"
                         "box-4 box-4 box-4 box-4 box-4"
                         "box-3 box-3 box-3 box-3 box-3";
    gap :1em;
    box-sizing: border-box;
    padding : 10px;

}

.main-contents-container::-webkit-scrollbar{
    display: none;
}