.main-contents-container{
    display: grid;
    width: 100%; height:100%;
    overflow: auto;
    overflow-y: scroll;
    min-height: 0;
    min-width: 0;
    scrollbar-width: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 50px 300px;
    grid-template-areas: "box-1 box-2 box-2 box-2 box-2"
                         "box-4 box-2 box-2 box-2 box-2"
                         "box-3 box-3 box-3 box-3 box-3";
    gap : 2em;
    padding:10px;
}

.main-contents-container::-webkit-scrollbar{
    display: none;
}