/*  */
.stats-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding : 20px;
    background-image: linear-gradient(to right, black,var(--grad-color-1), transparent);
}

.stats-container .vertical-line{
    width: 1.5px;
    height: 150px;
    background-color: gray;
    box-shadow: 0 0 1px gray;
}

.text-container{
    position: absolute;
    text-align: center;
    bottom: 10%;
    font-size: 1.5rem;
    text-shadow: 0 0 5px whitesmoke;
    font-weight: bolder;
}
/* -------------------------------------------------------------------------------------------------------------------------- */

/* ATTR COL */

.attr-col-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.attr-col-container .flex-row-wrapper{
    display: flex;
    flex-direction: row;
    gap:1em;
}

.attr-col-container .flex-row-wrapper .images-container{
    display: flex;
    flex-direction: column;
}

.attr-col-container .flex-row-wrapper .images-container .hero-img{
    width: 100px;
    height:60px ;
}

.attr-col-container .flex-row-wrapper .images-container .hp-bar{
    width: 100px;
    height: 20px;
    background-image: linear-gradient(to right, green, greenyellow);
    color : var(--text-highlight);
    font-weight: bold;
    text-align: center;
}

.attr-col-container .flex-row-wrapper .images-container .mana-bar{
    width: 100px;
    height: 20px;
    background-image: linear-gradient(to right, blue, cyan);
    color : var(--text-highlight);
    font-weight: bold;
    text-align: center;
}

.attr-col-container .flex-row-wrapper .attr-container{
    display: flex;
    flex-direction: column;
}

.attr-col-container .flex-row-wrapper .attr-container .attr-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.attr-col-container .flex-row-wrapper .attr-container .attr-row p{
    display: block;
    margin: 0;
    margin-left: 10px;
    margin-right: 5px;
    color : var(--text-highlight);
    font-weight: bold;
    text-align: center;

}

.attr-col-container .flex-row-wrapper .attr-container .attr-icon{
    width: 30px;
    height: 30px;
}

.text-container{
    color : var(--text-highlight);
    font-weight: bold;
    text-align: center;
}
/* ------------------------------------------------------------------------------------------------------------- */

/* ROLES COL */
.role{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.role-col-container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: auto auto auto;
    gap : 1em;
}

.role-col-container .role-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.role-col-container .role-container.active .score-bar{
    position: relative;
    z-index: 1;
    width: 90%;
    height: 5px;
    background-color: var(--text-primary);
}

.role-col-container .role-container.active .score-bar::after{
    content: "";
    position: absolute;
    z-index: -2;
    left: 0;
    top: 0;
    box-sizing: border-box;
    filter: blur(3px);
    width: 100%;
    height: 100%;
    background-color: var(--text-primary);
}

.role-col-container .role-container .score-bar{
    width: 90%;
    height: 5px;
    background-color: gray;
}

.role-col-container .role-container.active p{
    margin: 0;
    display: block;
    position: relative;
    color : whitesmoke;
    font-weight: bolder;
    text-shadow: 0 0 5px var(--bg);
    text-align: center;
}

.role-col-container .role-container.active p::after{
    content: "";
    position: absolute;
    left: 0;
    top : 90%;
    width: 100%;
    height: 1px;
    filter: blur(1px);
    background-color: var(--bg);
}

.role-col-container .role-container p{
    margin: 0;
    display: block;
    color : whitesmoke;
    font-weight: bold;
    text-align: center;

}

/* ------------------------------------------------------------------------------------------------------ */

/* STATS COL */

.stats{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.stats-col-container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap : 0.5em;
}

.stats-col-container .col-wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.stats-col-container .col-wrapper .stat{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;
}

.stats-col-container .col-wrapper .stat p{
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 0.8rem;
    color : whitesmoke;
    text-align: center;

}