.header-bar-container{
  justify-self: flex-start;
  display: flex;
  margin: 0 ;
  background: linear-gradient(to bottom, var(--bg-deeper), rgba(from var(--bg) r g b / 0.1));
  position: relative;
  width: 100%;
  max-height: 10vh;
  border: none;
  box-shadow:inset 0 2px 4px var(--bg-deeper);
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.header-bar-container .page-title{
  font-family: 'UnifrakturCook', cursive;
  filter: drop-shadow(1px 1px 1px black);
  font-size: 2rem;
  font-weight: bolder;
  color: var(--text-secondary);
}

.header-bar-container .icon-container{
  position: absolute;
  right:10px;
  background: transparent;
  opacity: 0.6;
  border: none;
  width:5vh;
  height: 5vh;
  
  
}

.header-bar-container .icon-container::before,
.header-bar-container .icon-container::after{
  content: "";
  z-index:-10;
  padding: 1px;
  background-image: conic-gradient(from var(--angle), var(--text-primary), transparent 30%);
  position: absolute;
  width: 5vh;
  height: 5vh;
  top:50%;
  left: 50%;
  translate: -50% -50%;
  mask-image: url("/public/shared/icon.png");
  mask-repeat: no-repeat;
  mask-size: cover;
  animation: spin 2s ease infinite;
}

.header-bar-container .icon-container::before{
  padding:2px;
  opacity: 0.5;
  filter: blur(2rem);
}
/*.top-bar-container .icon-container::after{
  z-index: 5;
  display: block;
  position: absolute;
  width:100%;
  height: 100%;
  top: 6px;
  left: 0;
  content: '';
  background: radial-gradient(closest-corner circle at bottom, white , transparent);
}*/

.header-bar-container .icon-container 
img{
  aspect-ratio: 1/1;
  width :5vh;
  height :5vh;
  object-fit: contain;
  filter: drop-shadow(1px 1px 1px black );
  box-shadow:  3 3 4px var(--bg),inset 0 0 3px var(--surface) ;
  
}
