.heroes-page{
  height: 100vh;
  width: 100vw;
  scrollbar-width: none;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin{
  from{
    --angle :0deg;
  }
  to{
    --angle : 360deg;
  }
}